@font-face {
font-family: 'Pretendard';
  src:url('../font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
font-family: 'Pretendard';
  src:url('../font/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
font-family: 'Pretendard';
  src:url('../font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
font-family: 'Pretendard';
  src:url('../font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
font-family: 'Pretendard';
  src:url('../font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
font-family: 'Cafe24Lovingu';
  src:url('../font/Cafe24Lovingu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
